*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    --font: 'Roboto', sans-serif;
}

body {
    font-family: var(--font);
    background: #fff;
}

body.RO {
    overflow: hidden;
}

/* =====Main==== */
main {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    margin: 50px 20px;
}

a {
    cursor: pointer;
    color: #0E71EB;
}

li {
    list-style: none;
}

#main {
    height: 50vh;
    overflow: hidden;
}

.tittle h1 {
    font-weight: 400;
    font-size: 3rem;
    color: #0E71EB;

    padding: 0 0 20px;
}

footer, .catch_error, .main_name, .chat .screen, .sen_ {
    display: flex;
    flex-direction: column;
}

.tittle p {
    font-weight: 400;
    max-width: 400px;
    font-size: 1.8rem;
}

.line_text {
    margin: 0 0 20px;
}

.line_description {
    padding: 10px 0;
}

.tittle button {
    font-weight: 500;
    font-size: 1.8rem;
    cursor: pointer;
}
/* =====Fim do Main==== */


/* =====Nav Bar===== */
.nav_bar {
    background: #333360;
    width: 100%;
    overflow: hidden;
}

.nav_bar ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;

    height: 70px;
    padding: 0 70px;
}

.nav_bar ul li {
    list-style: none;
}

.nav_bar_active {
    color: #fff;
    background: #0E71EB;
}

.nav_bar ul li a {
    padding: 7px 20px;
    border-radius: 20px;

    color: #0E71EB;
    background: #fff;
    text-decoration: none;

    font-weight: 500;
    font-size: 1.8rem;
}

.nav_bar ul li a:hover {
    color: #fff;
    background: #0E71EB;
}
/* =====Fim da Nav Bar===== */
#container {
    height: 100%;
    width: 100%;
    overflow: hidden;

    background-color: #333360;
}

#area_devices {
    margin: 20px;
    color: #fff;
}

#area_devices h2 {
    font-weight: 400;
    font-size: 2.5rem;
}

#options_devices {
    display: flex;
    align-items: center;
    gap: 20px;
}

.devices {
    background-color: #0E71EB;
    padding: 12px;
    border-radius: 5px;
    margin: 10px 0;
}

.devices svg {
    display: block;
    margin: auto;
}

.p {
    margin: 5px auto;
    text-align: center;

    font-weight: 500;
    font-size: 1.6rem;
}

/* ===== Join ==== */

/* ====logo==== */
.logo {
    background: no-repeat 0;
    background-image: url(./midia/zoom-logo.png);
    height: 30px;
    width: 30px;
}

.conect {
    max-width: 500px;
    height: 200px;

    background: #fff;
    text-align: center;
}

.join {
    width: 100%;
    min-width: 500px;
}

.conect .join {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 16px;

    padding: 10px;
}

.join h3 {
    padding: 8px 15px;
    border-radius: 5px;

    cursor: pointer;

    font-size: 1.6rem;
    font-weight: 600;
}

h3.phone:hover {
    background: #EEEEF7;
}

.erro_audio {
    color: #dd9103;
    font-size: 1.4rem;

    display: flex;
    align-items: flex-start;
}
/* ===== Join ==== */

/* ==== position ==== */
article#position {
    padding: 0 1%;
}

.prototipo_computer {
    width: 1200px;
    background-color: #1A1A1A;
    margin: 20px auto;

    border-radius: 10px;
}

.video_info {
    width: unset;
    max-width: 500px;
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;
    padding: 10px 20px;
    background-color: #212122;

    height: 500px;
    width: auto;
}

.primary {
    margin:  20px 0;
    padding: 10px 40px;
    background-color: #0E71EB;
    color: #fff;

    border: none;
    border-radius: 20px;
}

.header {
    background-color: #fff;
    color: #0E71EB;

    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;

    padding: 15px 10px;
    border-radius: 10px 10px 0 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 10px;
}

.shield {
    padding: 5px;
    background-color: #212122;
    border-radius: 5px;
    cursor: pointer;
}

.view {
    padding: 5px;
    background-color: #212122;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

#buttons_options {
    font-style: normal;
    font-weight: 300;
}

.options {
    margin: 10px;

    opacity: 0;
    visibility: hidden;
}

.options ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
}

.options ul li {
    text-align: center;
    padding: 4px 6px;
    cursor: pointer;
}

.options ul li:nth-child(-n+5):hover {
    background: #303030;
    border-radius: 10px;
}

.options p {
    font-size: 1.2rem;
    color: #fff;

    padding: 5px;
}

.end {
    padding: 7px 18px;
    background-color: #ED3A28;
    border-radius: 5px;
    border: none;

    color: #fff
}

.chat, .re, .at_one, .get_name, .video_cast, .share, .participants, .conect {
    display: none;
}

/* Participantes */
.participants {
    width: 350px;
    height: 300px;

    background: #fff;
    margin: 10px auto;
    font-size: 1.4rem;
    z-index: 999;
}

.on .participants {
    display: block;
}

.tittle_name {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header_name {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 7px;
    background: #eee;
    font-size: 1.4rem;
}

.participants .container_name {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo_name {
    padding: 7px 0;
    width: 32px;
    height: 32px;
    border-radius: 6px;
}

p.logo_name {
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
}

.participants_end {
    box-sizing: content-box;
    padding: 7px;
}

.participants_end:hover {
    background: red;
}

.more_options_nav {
    background: #242424;
    padding: 10px;
    width: 200px;

    border-radius: 5px;
}

.participants .container_name #rename {
    letter-spacing: 1px;
    text-align: center;
    border: 2px solid #0e72ec;
    background: #fff;
    color: #0e72ec;
  
    border-radius: 5px;
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
}

.opt-end {
    display: flex;
    gap: 8px;
    justify-self: flex-end;
    float: left;
    position: absolute;
    right: 22px;
    opacity: 0;
    transition: all 0.2ms ease-in-out;
}

p.mute, p.rename {
    padding: 4px 8px;
    background: #0f71eb;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}

.more_options_nav ul li {
    list-style: none;
    /* margin: 5px; */
}

.more_options_nav ul li a {
    display: block;
    width: 100%;
    padding: 5px;

    color: #fff;
    text-decoration: none;
}

.more_options_nav ul li a:hover {
    background: #0E71EB;
}

.meet.security.active, .active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

footer {
    width: 100%;
    height: auto;

    padding: 20px;
    background: #0E71EB;
    color: #fff;
    gap: 8px;
}

.footer_tittle {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    line-height: 30px;

    margin: 5px;
}

.footer_description {
    font-weight: 200;
    font-size: 1.8rem;
    line-height: 23px;
}

.ah_ {
    color: #f1f1f1;
    text-decoration: none;
}

small {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 20px;
    color: #1A1A1A;
}

/* ==== Share Screen ==== */
.share {
    max-width: 1140px;
    width: calc(100vw - 12%);
}

@media (max-width: 1220px) {
    .share {
        left: 5%;
    }
}

.share_button {
    padding: 5px 15px;
    background: #0e71eb;
    color: #fff;

    border: none;
    border-radius: 7px;

}

.screen {
    height: 320px;
}

.screen, .share {
    background: #fff;
}

.screen .screen_options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    text-align: center;
}
.screen_options .option_1,
.screen_options .option_2,
.screen_options .option_3 {
    margin: 20px;
    padding: 2px 5px 12px 12px;
    border-radius: 10px;
}

.screen_options .option_1:hover,
.screen_options .option_2:hover,
.screen_options .option_3:hover {
    background: #0E71EB;
    color: #fff;
}

.header_options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 20px auto;

    height: 30px;
    width: 350px;
    background: #eee;
    border-radius: 5px;
}

.opt {
    padding: 0 20px;
    color: rgba(0, 0, 0, 0.74);
    cursor: pointer;
}

.Basic {
    color: #0E71EB;
    background: #fff;
    padding: 5px 20px;
}

.options_share {
    margin: auto;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options_share .input_options {
    display: flex;
    gap: 20px;
}
/* ==== Share Screen ==== */

/* ==== Video ==== */
.video_cast {
    width: calc(100vw - 9%);
}

.videod {
    width: calc(100vw - 20% - 1rem);
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

#webcam {
    display: block;
    margin: 0 auto;
    /* z-index: 1000; */
}

#webcam.off {
    display: none;
    z-index: 0;
}

.catch_error {
    background: #ffff;
    padding: 24px;
    height: 200px;
    align-items: flex-start;
    gap: 12px;
}

h2.status_error {
    font-weight: 800;
    font-size: 20px;
}

.catch_error p {
    font-size: 14px;
}

/* NAME DATA*/
.get_name {
    /* position: absolute; */
    align-self: center;
    width: 400px;
}

.main_name {
    background: #fff;
    padding: 20px;
    gap: 8px;
}

.main_name label {
    font-size: 14px;
}

.opt-out button {
    width: 65px;
    padding: 4px 0;
    border-radius: 8px;
}

input#data-name {
    padding: 6px;
    border-radius: 10px;
    border: 2px solid #0e71eb;
    outline: none;
}

button.ok {
    border-radius: 8px;
    border: 2px solid #0e71eb;
    background: #0e71eb;
    color: #fff;
}

button.ok:hover, .share_button:hover {
    background: #0365dd;
}

button.cancel {
    border: 2px solid;
}

.opt-out {
    padding: 10px 20px;
    border-top: 1px solid #ccc;
    background: #eee;
}

.on {
    display: block;
    position: absolute;
    z-index: 1010;
}

.bac {
    position: absolute;
}

h1.back {
    font-size: 8rem;
    font-weight: 800;
    color: #f1f1f1;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: -1;
}

/* NAME DATA*/

/* Db click */
.db article#position {
    padding: 0;
}

.db .prototipo_computer {
    position: fixed; 
    top: 0; 
    bottom: 0;
    width: -webkit-fill-available;
    width: 100%;
    margin: 0;
    border-radius: 0;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.db .content {
    height: 88%;
}

@media (max-width: 904px) {
    .videod {
        width: 100%;
        height: 100%;
    }

    #webcam {
         width: 90%;
         height: calc(100vh - 50%);
     }
}

/* Db click */

@media (max-width: 1200px) {
    .prototipo_computer {
        width: 100%;
    }

    #main {
        display: block;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        padding: 20px;  
    }

}

@media (max-width: 550px) {
    .prototipo_computer {
        /* opacity: 0;
        visibility: hidden; */
        display: none;
    }
}

/* Teste */
.at_one {
    position: fixed;
    right: 10px;
    top: 10px;
    height: 60px;
    width: 200px;
    background: #495eba;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.bt_at {
    height: 10px;
    width: 100%;
    background: #566edd;
    border-radius: 0px 0px 10px 10px;
    animation-play-state: auto;
    float: left;
    animation: 3s ease-in an;
    justify-self: flex-end;
    align-self: flex-end;
}

@keyframes an {
    from { 
        width: 0;
    }
    to { 
        width: 100%;
    }
}

.ph_fr {
    display: none;
}

@media (max-width: 550px) {
    .ph_fr {
        display: block;
    }
}

/* Chat */
.chat {
    position: absolute;
    min-height: 400px;
    min-width: 400px;
}

.chat .screen {
    width: 100%;
    padding: 16px;
    justify-content: space-between;
}

.main_msg {
    height: 65%;
    overflow-y: auto;
}

.footer_ms {
    height: 35%;
    background: #fff;
}

.sel_en {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 9px;
}

.sel_en span, .inf_p, .msn {
    font-size: 1.4rem;
}

select {
    padding: 2px;
    background: #eee;
    border: none;
    outline: none;
}

input#msg {
    border: none;
    width: 100%;
    height: inherit;
    padding: 8px 0;
    outline: none;
}

.inf_p {
    text-align: center;
    color: #858585;
    padding: 8px 0;
}

._sd {
    display: flex;
    gap: 8px;
}

.msn {
    padding: 8px;
    background: #e6ffff;
    border-radius: 10px;
    width: -moz-fit-content;
    width: fit-content;
    overflow-wrap: break-word;
}